body {
  background-image: url(./../images/booking/1.png);
  background-size: cover;
  background-position: center;
}

#flight-details {
  width: 1200px;
  margin: 0 auto;

  color: black;
  font-size: var(--h2);
  font-family: Alexandria, sans-serif;

  margin: 48px auto 16px;
  padding: 0 64px;
}

#flight-details .text {
  padding: 0 24px;
  margin: 0 0 16px;
}

#flight-details .text > p {
  color: black;
  font-size: var(--body);
  font-family: Sarala, sans-serif;

  margin: 0 0 4px;
}

#flight-details .text .city {
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}

#flight-details .text .country {
  font-family: inherit;
}

#flight-details .text > img {
  vertical-align: middle;
  margin: 0 8px;
}

#flight-form {
  width: 1200px;
  margin: 0 auto 96px;
  padding: 0 64px;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

#flight-form .continue-container {
  align-self: flex-end;
  margin: 24px 0 0;
}

#flight-form h2 {
  margin: 0 24px 16px;
}

#flight-form .field {
  width: 100%;
  margin: 0;
}

#flight-form .field.notactive {
  display: none;
}

#flight-form #passenger-info,
#flight-form #additional-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 16px;

  margin: 0 0 20px;
  width: 100%;
}

#flight-form #additional-items .field.item {
  grid-column: 1 / 3;
}
