body {
  background-image: url(./../images/booking/1.png);
  background-size: cover;
  background-position: center;
}

#filters {
  margin: 48px auto;
  padding: 0 64px;

  width: 1200px;
}

#filters h2 {
  margin: 0 0 24px;
}

#search-flight {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.continue-container {
  background-color: var(--secondary-main);
  cursor: pointer;
  outline: none;
  border: none;

  width: 76px;
  height: 76px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* results */
#results-wrapper {
  width: 1200px;
  margin: 0 auto;

  display: none;
}

#results-wrapper.active {
  display: block;
}

#results-wrapper #flight-details > p:not(#details) {
  color: black;
  font-size: var(--body);
  font-family: Sarala, sans-serif;

  margin: 0 0 4px;
}

#results-wrapper #flight-details {
  color: black;
  font-size: var(--h2);
  font-family: Alexandria, sans-serif;

  margin: 0 64px 16px;
}

#results-wrapper #flight-details #details {
  display: none;
}

#results-wrapper #flight-details #details.active {
  display: block;
}

#results-wrapper #flight-details #details .city {
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
}

#results-wrapper #flight-details #details .country {
  font-family: inherit;
}

#results-wrapper #flight-details #details > img {
  vertical-align: middle;
  margin: 0 8px;
}

#results-wrapper #results {
  background-color: #ffffff80;
  margin: 0 auto 96px;
  padding: 24px 64px;
  width: 1200px;

  display: flex;
  flex-flow: column nowrap;
}

#results-wrapper #results > p {
  font-weight: bold;
}
