body {
  background-image: url(./../images/flights/bg.png);
  background-size: cover;
  background-position: top center;
}

a {
  text-decoration: none;
  color: var(--secondary-alt);
}

li {
  list-style: none;
}

/* filter buttons */
#filter {
  width: 1200px;
  padding: 0 64px;
  margin: 64px auto 32px;
}

#flight-type {
  display: flex;
  flex-wrap: wrap;
}

#flight-type button {
  color: var(--gray);
  font-size: var(--body);
  font-family: Sarala, sans-serif;
  font-weight: bold;
}

#flight-type .frosted {
  background-color: #ffffff80;
  padding: 8px 32px;
  margin: 0 16px 0 0;

  cursor: pointer;
  border: none;
}

#flight-type button.active,
button:hover {
  color: var(--secondary-alt);
}

/* search */
#search-flight {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
}

/* the schedule itself */

#flight-schedule {
  background-color: #ffffff80;
  margin: 0 auto 96px;
  padding: 24px 64px;
  width: 1200px;

  display: flex;
  flex-flow: column nowrap;
}

#flight-schedule > p {
  color: black;
  font-size: var(--body);
  font-family: Sarala, sans-serif;
  font-weight: bold;
}

/* #flight-schedule .table-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
