/* typefaces */
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

@font-face {
  font-family: Alexandria;
  src: url(./../fonts/Alexandria-Light.ttf);
  font-weight: light;
}

@font-face {
  font-family: Alexandria;
  src: url(./../fonts/Alexandria-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url(./../fonts/Alexandria-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: Alexandria;
  src: url(./../fonts/Alexandria-Bold.ttf);
  font-weight: bold;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Sarala", sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

/* variables */
:root {
  --primary-main: #357bb6;
  --primary-alt: #102436;
  --primary-light: #729ec1;

  --secondary-main: #02284c;
  --secondary-alt: #021425;
  --secondary-light: #055199;

  --ternary-main: #fddd02;
  --ternary-alt: #d9bd00;
  --ternary-light: #fff3a4;

  --gray: #a0a0a0;

  --h1: 32px;
  --h2: 24px;
  --h3: 18px;
  --h4: 16px;
  --h5: 14px;
  --h6: 12px;

  --body-l: 20px;
  --body: 16px;
  --body-s: 12px;
}

/* buttons */
.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
}

.btn:not([disabled]) {
  cursor: pointer;
}

.btn.yellow {
  background-color: #fddd02;
  color: var(--secondary-alt);
}

.btn.yellow[disabled] {
  background-color: #e0e0e0;
  color: var(--gray);
}

.btn.yellow.l {
  padding: 24px 48px;

  font-size: var(--h2);
  font-family: Alexandria, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.btn.yellow.s {
  padding: 20px 32px;

  font-size: var(--body);
  font-family: Sarala, sans-serif;
  font-weight: bold;
}

.frosted {
  backdrop-filter: blur(24px);
}

/* loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* header */
nav.nav {
  padding: 0 96px;
}

nav.nav #logo-container {
  margin: 0 auto 0 0;
}

nav.nav #logo {
  height: 64px;
}

nav.nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  height: 100px;
}

nav.nav ul li {
  float: left;
  display: inline;
  list-style-type: none;
}

nav.nav ul li a {
  margin: 0 48px;

  font-size: var(--h3);
  font-family: Alexandria, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

nav.nav.white ul li a {
  color: white;
}

nav.nav.dark ul li a {
  color: var(--secondary-alt);
}

/* footer */
footer {
  background-color: black;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 128px;
  min-height: 80px;
  margin-top: auto;
}

footer #logo {
  height: 48px;
}

footer span {
  color: white;
  font-size: var(--body-s);
  text-align: right;
}

/* notification */
.notification {
  width: 400px;
  min-height: 64px;
  padding: 16px 24px;
  background-color: white;
  border-radius: 4px;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 24px;
  right: 32px;
  z-index: 5;

  transition: 0.5s;
  transform: translateY(200%);

  box-shadow: 0 0 16px #00000040;
}

.notification.slide-in {
  transform: translateY(0);
}

.notification span {
  color: var(--secondary-alt);
  font-size: var(--body);
  font-family: Sarala, sans-serif;
}

.notification img {
  cursor: pointer;
}
