/* hero */
#hero {
  min-height: 100vh;
  background-image: url(./../images/index/1.png);
  background-size: cover;

  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

#hero nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  height: 100px;
}

#hero nav ul li {
  float: left;
  display: inline;
  list-style-type: none;
}

#hero nav ul li a {
  margin: 0 48px;

  color: white;
  font-size: var(--h3);
  font-family: Alexandria, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#hero #logo {
  width: 500px;
  margin: auto 0;
}

#hero span {
  color: white;
  font-size: var(--body);
  font-family: Sarala, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#hero #line {
  width: 2px;
  height: 48px;
  background-color: white;
}

/* upcoming flights */
#upcoming-flights {
  background-image: url(./../images/index/2.png);
  background-size: cover;
  background-position: center;

  padding: 48px 96px 96px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#upcoming-flights #board-wrapper {
  margin: 0 0 48px;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 128px;
}

#upcoming-flights .board {
  padding: 20px 48px;
  width: 380px;
}

#upcoming-flights .board-wrapper h2 {
  text-align: center;
  color: var(--secondary-alt);
  font-size: var(--h2);
  font-family: Alexandria, sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 0 24px;
}

#upcoming-flights .board-wrapper:first-child .board {
  background-color: #fff3a480;
}

#upcoming-flights .board-wrapper:last-child .board {
  background-color: #fff7c180;
}

#upcoming-flights .board .time {
  color: var(--secondary-alt);
  font-size: var(--body);
  font-weight: normal;

  margin: 0 16px;
}

#upcoming-flights .board .dts {
  color: var(--secondary-alt);
  font-size: var(--h2);
  font-weight: bold;
  text-transform: uppercase;

  margin: 0 16px;
}

#upcoming-flights .board hr {
  border: none;
  border-top: 1px solid var(--ternary-alt);

  margin: 12px 0;
}

/* explore */
#explore {
  background-image: url(./../images/index/3.png);
  background-size: cover;
  background-position: center;

  padding: 64px 128px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#explore p {
  color: var(--secondary-alt);
  font-family: Alexandria, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

#explore p #location-anim {
  font-family: inherit;
}

#location-anim {
  display: inline-block;
}
#location-anim.anim-disappear {
  animation: disappear 0.5s;
}
#location-anim.anim-appear {
  animation: appear 0.5s;
}

@keyframes disappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-64px);
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    transform: translateY(64px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
